<h3>Entry for: <%= @journal_entry.date %> </h3>
<h4>The moods of the day:</h4>
    
    <% @journal_entry.moods.each do |mood|%>
    <%= mood.mood_type %>
    <br>
    <% end %>
    
<br>
<h4>Todays comments:</h4>
<%= @journal_entry.content %>

<br>
<br>
<% if authorized_to_edit?(@journal_entry) %>
<form action="/journal_entries/<%= @journal_entry.id %>/edit" >
    <input type="submit" value="Edit">
</form>

 <form action="/journal_entries/<%= @journal_entry.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete">
  </form>
<% end %>
<img src="http://lorempixel.com/g/400/200/nature">